<section
  class="bg-accent font-almarai min-h-[60vh] content-center space-y-8 px-[14vw] text-[5vw]/[4.5vw] tracking-tighter text-pretty selection:bg-white sm:min-h-[75vh] sm:py-[14vw] md:h-screen"
>
  <p>
    Motorcycles are identity, attitude, and life choices. What we ride says who we are and how we
    live.
  </p>
  <p>Brands win when they don't compete on spec sheets, but on culture, emotion, and belonging.</p>
  <p>
    RARO is born right there. At the intersection of strategy and creativity, where products turn
    into stories and brands stop blending in to start being remembered.
  </p>
</section>
