<section class="flex items-center justify-between bg-black px-[14vw] py-48">
  <p class="font-almarai selection:bg-whit text-left text-3xl/6 tracking-tighter text-white">
    Interested? Work with us.
  </p>
  <a class="font-almarai selection:bg-whit text-center text-6xl/18 tracking-tighter text-white">
    hello@raro.com
  </a>
</section>

