---
---
<header class="text-white">
    <div class="mx-auto w-full py-16 px-12 flex items-center justify-between">
        <a href="/" class="-tracking-widest text-7xl font-almarai font-light">RARO</a>
        <nav class="flex gap-4 font-work-sans font-extralight text-2xl">
            <a href="">Services</a>
            <a href="">About</a>
            <a href="">Work</a>
            <a href="">Contact</a>
        </nav>
    </div> 
</header>
<style>
    @reference "../styles/global.css";
    
    nav > a:hover {
        @apply text-accent;
    }
</style>

