---

---
<header class="sticky top-0 right-0 left-0 text-white z-100">
    <div class="mx-auto w-full py-16 px-12 flex items-center justify-between">
        <a href="/">
            <h1 class="-tracking-widest text-7xl font-almarai font-light">RARO</h1>
        </a>
        <nav class="flex gap-4 font-work-sans font-extralight text-2xl [&>a]:hover:text-accent">
            <a href="">Services</a>
            <a href="">About</a>
            <a href="">Work</a>
            <a href="">Contact</a>
        </nav>
    </div> 
</header>

