---
const { class: className } = Astro.props;
---

<header
  id="site-header"
  class:list={['fixed top-0 right-0 left-0 z-100 text-white will-change-transform', className]}
>
  <div class="mx-auto flex w-full items-center justify-center px-4 py-6 md:px-8 md:py-6">
    <a href="/raro-website">
      <h1 class="font-almarai text-3xl font-light -tracking-widest sm:text-5xl md:text-7xl">
        RARO
      </h1>
    </a>
  </div>
</header>
<style>
  #site-header {
    transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  }
  #site-header.hidden-header {
    transform: translateY(-100%);
  }
</style>
<script is:inline>
  const header = document.getElementById('site-header');

  let prevScrollY = 0;
  const THRESHOLD = 250;

  function handleScroll() {
    const currentScrollY = window.scrollY;

    if (currentScrollY > prevScrollY && currentScrollY > THRESHOLD) {
      header.classList.add('hidden-header');
    } else {
      header.classList.remove('hidden-header');
    }

    prevScrollY = currentScrollY;
  }

  document.addEventListener('scroll', handleScroll, { passive: true, capture: true });
</script>
