---
const heroVideo = `${import.meta.env.BASE_URL}/assets/hero.webm`;
---

<section class="grid h-screen max-h-screen w-full grid-rows-[100vh]">
  <video
    autoplay
    loop
    muted
    playsinline
    class="col-start-1 row-start-1 h-screen w-full object-cover"
  >
    <source src={heroVideo} type="video/webm" />
    Your browser does not support the video tag.
  </video>
  <div class="col-start-1 row-start-1 h-full p-[16vw] md:p-[8vw]">
    <video autoplay loop muted playsinline class="h-full w-full object-cover">
      <source src={heroVideo} type="video/webm" />
      Your browser does not support the video tag.
    </video>
  </div>
  <h2
    class="text-accent col-start-1 row-start-1 translate-y-[4vw] self-end text-right selection:bg-white sm:-right-2 sm:-bottom-14"
  >
    Motorcycling<br />Strategic Studio
  </h2>
</section>
