<section class="relative min-h-screen w-full">
    <h2 class="absolute right-44 z-20 font-almarai text-9xl leading-26 text-white tracking-tight">
        All About<br>Motorcycles
    </h2>
    <div class="absolute top-32 p-16 place-items-center stack">
        <video autoplay loop muted class="scale-75">
            <source src="/src/assets/hero.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <video autoplay loop muted class="">
            <source src="/src/assets/hero.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</section>
<style>
    .stack {
        display: grid;
    }

    .stack > * {
        grid-area: 1 / 1;
    }
</style>