<section class="relative min-h-screen w-full bg-accent px-20 py-28 space-y-12">
    <p class="relative tracking-tighter text-8xl leading-20 max-w-230 z-10">
        Strategic Studio specialising in the two-wheel ecosystem, combining brand, product and growth strategies to support brands in the sector to design, launch and scale up. We are your partner on your journey towards relevance and transcendence.
    </p>
    <a href="/" class="hover:text-white text-3xl">Want more?</a>
    <div class="absolute top-48 right-50 grid place-items-center w-136 aspect-5/3 overflow-hidden">
        <video autoplay loop muted class="scale-150">
            <source src="/src/assets/mission-1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="absolute bottom-0 right-144 grid place-items-center w-84 aspect-square overflow-hidden bg-green-500">
        <video autoplay loop muted class="scale-180">
            <source src="/src/assets/mission-2.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</section>