<section class="grid min-h-[60vh] grid-cols-1 grid-rows-1 items-center sm:min-h-[75vh] md:h-screen">
  <div class="space-y-4 px-[8vw] md:space-y-8 md:px-[14vw] lg:space-y-12">
    <p
      class="selection:bg-accent text-[5.5vw]/[5vw] tracking-tighter text-pretty text-white md:text-[5vw]/[4.5vw]"
    >
      Supporting brands in the motorcycling sector to design, launch, and scale up.
    </p>
    <h3 class="text-accent text-right selection:bg-white">
      On a journey towards relevance and transcendence.
    </h3>
  </div>
</section>
