<section
  class="bg-accent min-h-[60vh] content-center space-y-8 px-[14vw] sm:min-h-[75vh] md:min-h-screen"
>
  <p
    class="font-almarai text-center text-[5vw]/[4.5vw] tracking-tighter text-balance text-white uppercase selection:bg-black"
  >
    Bikes don't move people. Emotions do.
  </p>
</section>
