---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((it) => ({
    params: { id: it.id },
    props: { project: it },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <div
    class="font-almarai grid min-h-screen grid-cols-1 gap-8 px-[8vw] pt-[12vh] pb-[12vh] text-white md:grid-cols-[60%_1fr] md:pt-[24vh] lg:px-[10vw]"
  >
    <div class="space-y-4">
      <h1 class="text-[4vh]/[5vh] md:text-[4vw]/[4.1vw]">{project.data.title}</h1>
      <span class="">What</span>
      {project.data.offeredServices.map((it) => <h3 class="text-accent uppercase">{it}</h3>)}
      <span>When</span>
      <h3 class="text-accent">{project.data.year}</h3>
      <span>Where</span>
      <h3 class="text-accent">{project.data.location}</h3>
    </div>
    <div class="space-y-4 font-light text-pretty">
      <Content />
    </div>
  </div>
</Layout>
